name: Build all packages

on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        include:
          - { target: linux-64, os: ubuntu-22.04 }
          - { target: linux-aarch64, os: ubuntu-22.04 }
          # - { target: win-64, os: windows-latest }
          # force older macos-13 to get x86_64 runners
          # - { target: osx-64, os: macos-13 }
          # - { target: osx-arm64, os: macos-14 }
      fail-fast: false

    runs-on: ${{ matrix.os }}

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 2
      - uses: prefix-dev/setup-pixi@v0.9.2
        with:
          pixi-version: v0.56.0
          cache: true

      - name: Build packages for ${{ matrix.target }}
        shell: bash
        env:
          TARGET_PLATFORM: ${{ matrix.target }}
          PREFIX_API_KEY: ${{ secrets.PREFIX_API_KEY }}

        run: |
          pixi run rattler-build build --recipe-dir ./recipes \
            --skip-existing=all --target-platform=$TARGET_PLATFORM \
            -c conda-forge -c https://prefix.dev/utiasasrl

      - name: Upload all packages
        shell: bash
        env:
          PREFIX_API_KEY: ${{ secrets.PREFIX_API_KEY }}
        # do not upload on PR
        if: github.event_name == 'push'
        run: |
          shopt -s nullglob
          EXIT_CODE=0
          for pkg in $(find output -type f \( -name "*.conda" -o -name "*.tar.bz2" \) ); do
            if ! pixi run rattler-build upload prefix -c utiasasrl "${pkg}"; then
              EXIT_CODE=1
            fi
          done
          exit $EXIT_CODE
